.navbar{
    background-color: rgb(30,30,30);
   height: 5rem;
   width: 100vw;
   max-width: 75rem;
   margin: 0 auto;
   padding: 1rem 2rem;
   display: flex; /*give the container the ability to alter its items' width/height (and order) to best fill the available space (mostly to accommodate to all kind of display devices and screen sizes).*/
   align-items: center;
   justify-content: space-between;  /*space-between is there to invoke space */
   position: sticky;
   top:0;
   z-index: 3;;
}

.logo{
    object-fit: cover; /*it will maintain the ration of the objects in different size*/
    height: 3rem;
    width: 12rem;
    background-color: white;
}

.active{
    color: yellow;
    border-bottom: 3px solid yellow;
    padding-bottom: 0.5rem;
}

.desktopMenuBtn{
    background: white;
    color: black;
    border: none;
    display: flex; 
    align-items: center;   
    justify-content: center;
    padding: 0rem 1rem;
    border-radius: 2rem;

}

.desktopMenuListItem{
    margin: 1rem;
    cursor: pointer;
}

.desktopMenuListItem:hover{
    color:yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid black;
}
.desktopMenuImg{
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
}

.navMenu{
    position: absolute;
    top:4rem;
    right:2rem;
    z-index:2;
    display: flex;
    flex-direction: column;
    padding:0.5rem;
    height: fit-content;
    min-width: 15rem;
    background-color: rgb(40,40,40);
    border-radius: 1rem;
}

.listItem{
    color:white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(30,30,30);

}

.mobMenu{
    display:none;
    object-fit: cover;
    height: 1.8rem;
    background: black;
}



@media screen and (max-width:720px){
    .mobMenu{
        display: flex;
    }

    .desktopMenu{
        display: none;
    }

    .desktopMenuBtn{
        display: none;
    }
}
